:root {
    --color-primary:  hsl(31, 77%, 52%);
    --color-secondary:  hsl(184, 100%, 22%);
    --color-dark: hsl(179, 100%, 13%);
    --color-transwhite:  hsla(0, 0%, 100%, 0.75);
    --color-backgound:  hsl(0, 0%, 95%);

    --ff-primary: 'Lexend Deca', sans-serif;
    --ff-titles:  'Big Shoulders Display', cursive;

    margin: 4rem 2rem 6rem ;
}
/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */
img{
    padding-top: 4rem;
    padding-left: 4rem;
}

.title {
    text-transform: uppercase;
    font-family: var(--ff-titles);
    padding-left: 4rem;
    padding-top: 1.7rem;
    color: var(--color-transwhite);
    font-weight: 700;
    font-size: 3rem;
}

p {
    font-family: var(--ff-primary);
    font-weight: 400;
    line-height: 1.8rem;
    margin: 3rem;
    color: var(--color-transwhite);
}

.orange {
    background: var(--color-primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.teal {
    background: var(--color-secondary);
}

.dark-teal {
    background: var(--color-dark);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}